<% layout('layouts/boilerplate') %> 

<body style="background-image: url(/imgs/grovewhite.png);">

        <h1 class="text-center" id="about-title">The Owners</h1>
        <div class="row">
            <div class="col">
                <section class="section section-dark container-fluid">
                    <div class="container pb-3"  id="right">
                        <h2 class="text-center" id="dad">Father</h2>
                        <img src="https://res.cloudinary.com/dzhxoxnyr/image/upload/c_thumb,w_200,g_face/v1648181431/The%20Grove/20211106_135051_nh5y1s.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus itaque incidunt labore atque?
                            Iusto
                            unde rerum quis autem vel nisi sequi. Repellat quo impedit pariatur cupiditate repudiandae
                            exercitationem at suscipit? <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Asperiores,
                            possimus, reprehenderit tempora esse quo inventore laudantium fugiat error neque ut id hic
                            vero enim
                            in, aut temporibus nobis rem debitis. <br><br>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, quia ipsa omnis quisquam
                            aliquid.
                        </p>
                    </div>
                </section>
            </div>

            <div class="col">
                <section class="section section-dark container-fluid mb-3" id="pale">
                    <div class="container pb-3">
                        <h2 class="text-center" id="daughter">Daughter</h2>
                        <img src="https://res.cloudinary.com/dzhxoxnyr/image/upload/c_thumb,w_200,g_face/v1648255533/The%20Grove/20210904_013134_znhnvr.jpg" alt="" >
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus itaque incidunt labore atque?
                            Iusto
                            unde rerum quis autem vel nisi sequi. Repellat quo impedit pariatur cupiditate repudiandae
                            exercitationem at suscipit.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dolore qui adipisci iste,
                            facilis
                            eaque eos doloremque earum alias porro dicta ipsum ducimus, suscipit cumque molestias autem?<br><br>
                            Minus,
                            nemo aut!<br><br> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam, dicta eius
                            voluptatum
                            iste laboriosam voluptates minus modi veritatis?
                        </p>
                    </div>

                </section>
            </div>
        </div>
    
