<% layout('layouts/boilerplate') %> 



<body style="background-image: url(/imgs/groveblack.png); background-size: cover;">
 
        <section class="section section-dark container-fluid">
            <div class="container pb-3">
                <h1 class="text-center" id="contact-title">Take Out</h1>
                <p style="margin-top: 20px;">Whether it's delivery or pick up, we got you covered! Please have your
                    order ready, and then give us a call from one of the numbers below. <i>Or</i>, if you have some other
                    needs, you can email us at the address below. We'd be glad to hear from you!
                    <br>
                    <b>Disclaimer:</b> Following Covid we are no longer offering our alcoholic beverages for delivery.
                    Thank you for your understanding!
                </p>
            </div>
        </section>

        <div class="row">
            <div class="col">
                <section class="section section-dark container-fluid">
                    <div class="container pb-3">
                        <h2 class="text-center" id="title">Pick Up</h2>
                        <h3 class="text-center text-white" id="number">813-555-0009</h3>
                    </div>
                </section>
            </div>
            <div class="col">
                <section class="section section-dark container-fluid mb-3">
                    <div class="container pb-3">
                        <h2 class="text-center" id="title">Delivery</h2>
                        <h3 class="text-center text-white" id="number">813-555-0010</h3>
                    </div>
                </section>
            </div>

        </div>

        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <section class="section section-dark container-fluid mb-3">
                    <div class="container pb-3">
                        <h2 class="text-center" id="title">Email</h2>
                        <h3 class="text-center text-white">Email: thegrove@unreal.net</h3>
                    </div>
                </section>
            </div>
        </div>
    

