<% layout('layouts/boilerplate') %> 


<body style="background-color: bisque">

   
        <h1 class="text-center" id="menu-title">The Menu</h1>
        <section class="section section-dark container-fluid">

            <h2 class="text-white text-center" id="title"><span class="one">&bull;</span> The Food  <span class="one">&bull;</span></h2>

            <div class="row align-items-center content container-fluid text-center" id="container1">
                <div class="">
                    <h3 class="food">Appetizers</h3>
                    <h5>Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>

                    <h5 class="special">Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>

                    <h5 class="special">Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>

                    <h5>Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>

                </div>
                
                
                <!-- <div class="col-md-4">
                    <h3 class="food">Appetizers</h3>
                    <h5>Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>

                    <h5 class="special">Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>

                    <h5 class="special">Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>

                    <h5>Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>

                </div> -->

                <div class="col-md-6">
                    <h3 class="food">Lunch</h3>
                    <h5 class="special">Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>
                    <h5>Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>
                    <h5>Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>
                    <h5 class="special">Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>
                    <h5>Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>
                    <h5>Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>

                </div>

                <div class="col-md-6">
                    <h3 class="food">Dinner</h3>
                    <h5 class="special">Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>
                    <h5>Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>
                    <h5>Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>
                    <h5>Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>
                    <h5 class="special">Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>
                    <h5>Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>
                    <h5>Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>
                    <h5>Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>
                    <h5 class="special">Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>
                    </ul>
                </div>

                <!-- <div class="col-md-3">
                    <h3 class="food">Dessert</h3>
                    <h5>Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>
                    <h5 class="special">Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>
                    <h5>Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>
                    <h5>Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>
                </div>
            </div> -->

            <div class="">
                <h3 class="food">Dessert</h3>
                <h5>Lorem Ipsum
                    <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                </h5>
                <h5 class="special">Lorem Ipsum
                    <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                </h5>
                <h5>Lorem Ipsum
                    <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                </h5>
                <h5>Lorem Ipsum
                    <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                </h5>
            </div>
        </div>
        </section>

        <section class="section section-light container-fluid">
            <h2 class="text-black text-center" id="title"><span class="two">&bull;</span> The Drinks <span class="two">&bull;</span></h2>

            <div class="row align-items-center content container-fluid" id="container2">
                <div class="col-md-3">
                    <h3 class="text-white">Wine</h3>
                    <ul> Red
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>

                    </ul>

                    <ul> White
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>

                    </ul>

                    <ul> Rose
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                    </ul>

                    <ul> Sparkling
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                    </ul>

                </div>
                <div class="col-md-3">
                    <h3 class="text-white"> Tradtional Cocktails</h3>
                    <ul>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>

                    </ul>

                </div>
                <div class="col-md-3">
                    <h3 class="text-white">Liquours</h3>
                    <ul>Tequila
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                    </ul>
                    <ul>Rum
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                    </ul>
                    <ul>Gin
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                    </ul>
                    <ul>Vodka
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                    </ul>
                    <ul>Whiskey
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                    </ul>

                </div>
                <div class="col-md-3">
                    <h3 class="text-white">Soft Drinks</h3>
                    <ul>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>
                        <li>Lorem Ipsum</li>

                    </ul>
                </div>
            </div>
        </section>


        <section class="section section-dark container-fluid" id="section3">
            <h2 class="text-white text-center" id="title"> <span class="three">&bull;</span> The Signiture Cocktails <span class="three">&bull;</span></h2>

            <div class="row align-items-center content container-fluid text-center" id="container3">
                <div class="col-md-4">
                    <h5 class="sig">Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>

                    <h5>Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>

                    <h5>Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>

                </div>

                <div class="col-md-4">
                    <h5>Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>

                    <h5 class="sig">Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>

                    <h5>Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>

                    <h5 class="sig">Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>

                </div>

                <div class="col-md-4">
                    <h5 class="sig">Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>

                    <h5>Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>

                    <h5>Lorem Ipsum
                        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                    </h5>

                </div>
            </div>

        </section>

 

    <footer class="section section-dark container-fluid">

    </footer>


